# dependencies
node_modules
.pnp
.pnp.js

# builds
build
coverage

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*-dev.out.log
*-dev.err.log

# local database backups
backend/backups/

# system
.DS_Store
